@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap");

:root {
  --primary-color: hsl(199, 100%, 33%);
  --background-color: rgba(0, 0, 0, 0.7);
  --dark-background-color: rgb(2, 2, 17);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);

  --font: "Exo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("assets/background3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font);
  height: max-content;
  overflow-x: hidden;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
}
